.ant-calendar-range-picker-input {
    width: 130px;
}

.ant-calendar-picker-input.ant-input{
    height: 38px    
}

.ant-select-selection{
    height: 38px;
}

.ant-message {
    z-index: 2042;
}

.ant-input-group-wrapper{
    input {
        font-weight: bold;
        color: #1d1d1d;
        font-size: 14px;
        font-family: 'Muli', sans-serif;
    }
}

